.cardBoard {
  font-size: 20px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.error {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.input {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
}

.loader {
  padding: 50px;
  display: flex;
  justify-content: center;
}
